.container{
    max-width: 1170px;
    margin: 0 auto;
}
.logo{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: rgb(30, 9, 58);
}
.list-2{
    display:flex;
}
.header-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.li-2{
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgb(105, 26, 26);
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}